* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.filter {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.box-connexion {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  border-radius: 5px;
}
.box-connexion h3 {
  text-align: center;
}
.box-connexion form input {
  background: transparent;
  color: #fff;
}
.box-connexion form input:focus {
  box-shadow: none;
  background: transparent;
  border: solid 1px #ec3e0e;
}
.box_i {
  width: 40%;
  margin: auto;
}
/*******************************************************************************************************/
body {
  position: relative;
  overflow-x: hidden;
  background-color: #cfd8dc;
}

/********************************logo_menu********************************/

.navbar-expand-lg {
  background: #0b2239;
}
/*logo*/
.navbar-light .navbar-brand {
  color: #fff;
}
.navbar-light .navbar-brand h3 {
  font-weight: 900;
}
.navbar-light .navbar-brand:hover {
  color: #fff;
}
/*menu*/
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
/*lien menu*/
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  padding-left: 0.7rem !important;
  padding-right: 0rem !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

.building-user .fa-building-user {
  margin-right: 2px;
}
.table-image .img-table {
  width: 7%;
}
.table-image td img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

/********************************view_admin***********************/
strong {
  font-weight: 500;
}
.morebox {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.titre_img {
  width: 100%;
  overflow: hidden;
}

.titre_img h4 {
  width: 95%;
  margin: 30px auto;
  overflow: hidden;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 26px;
}

.img_more {
  max-width: 94%;
  margin: 0px auto;
  overflow: hidden;
  height: 60vh;
}

.img_more img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100%;
}
#supp1 {
  border: solid 2px #ec3e0e;
}
.img_supp {
  display: flex;
  align-items: stretch;
  width: 95%;
  margin: 5px auto;
  overflow: hidden;
}

.img_supp div {
  width: 25%;
  overflow: hidden;
  margin-right: 4px;
}

.img_supp div img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.enligne {
  width: 95%;
  margin: 7px auto;
  overflow: hidden;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2%;
}

.enligne span {
  font-size: 13px;
}
.prixville table {
  width: 95%;
  margin: auto;
  font-size: 13px;
}
.prixville table th {
  background: silver;
}

.description {
  width: 95%;
  margin: 15px auto;
  overflow: hidden;
  text-align: justify;
}
.description h4 {
  font-size: 13px;
  font-weight: 700;
}
.description p {
  font-size: 13px !important;
}
.descr {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.annonceur {
  width: 95%;
  margin: 5px auto;
  overflow: hidden;
}
.annonceur p {
  font-size: 13px;
  font-weight: 700;
}
.annonceur p span {
  font-size: 14px;
  font-weight: normal;
}

h6 {
  margin-bottom: 0rem;
  font-size: 0.9rem;
}

.morebox p {
  margin-top: 0rem;
  margin-bottom: 0.3rem;
  font-size: 0.83rem;
  text-align: justify;
}
